# Database
DATABASE_URL="postgresql://user:password@host:5432/possenafal?sslmode=require"

# NextAuth
AUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_NAME="PossENafal POS"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_STORE_NAME="PossENafal Store"
NEXT_PUBLIC_STORE_ADDRESS="Jl. Contoh No. 123, Jakarta"
NEXT_PUBLIC_STORE_PHONE="+62 812 3456 7890"
